HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### properties ###
src/main/resources/env.properties

# front
*/tat-mobile-front/.DS_Store
*/tat-mobile-front/node_modules
*/tat-mobile-front/dist

# local env files
*/tat-mobile-front/.env.local
*/tat-mobile-front/.env.*.local

# Log files
*/tat-mobile-front/npm-debug.log*
*/tat-mobile-front/yarn-debug.log*
*/tat-mobile-front/yarn-error.log*
*/tat-mobile-front/pnpm-debug.log*

# Editor directories and files
*/tat-mobile-front/.idea
*/tat-mobile-front/.vscode
*/tat-mobile-front/*.suo
*/tat-mobile-front/*.ntvs*
*/tat-mobile-front/*.njsproj
*/tat-mobile-front/*.sln
*/tat-mobile-front/*.sw?
